.start{
    background-color:purple;
    height: 200px;

}
.first
{
    text-align:center;
    font-size: 50px;
    position: relative;
    top: 50px;
}
.init{
    color: brown;
    
   
}
.init2{
    color: white;
    
}
.second{
    position: relative;
    top: 30px;
    text-align: center;
    color: white;
}
.third{
   text-align: center;
   color: white;
   position: relative;
   top: 20px;
}
a{
    text-decoration-color: white;
}
img{
    text-align: right;
    border-radius: 100%;
    height: 150px;
    width:150px
    
}
.sub1{
    font-size: 20px;
    
}
td{
    margin-left: 5px;
}
.table{
    border: 2px solid black;
    border-collapse: collapse;
}
.color{
    color: brown;
}
.side{
    position: relative;
    left: 400px;
    
}
li{
 font-size: 20px;
}
.last{
    font-size: 20px;
}